@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.css-1tnmulc-MuiTableCell-root {
  color: #1c4588 !important;
  font-weight: bold !important;
}
.css-1vsxwu9-MuiTableCell-root-MuiTablePagination-root {
  border: none !important;
}
